// Primary Colors

$primary_dark_color: #1e1e1e;
$primary_dark_hover_color: #202020;

$primary_light_color: #fafafa;

// Secondary Colors

$secondary_light_color: #e6ecef;
$secondary_light_hover_color: #cdd9df;
$secondary_dark_color: #202020a6;

// Accent Colors
$accent_light_green: #8fe108;
$accent_dark_green: #3d5f07;
