// *************** Helpers *************** //
// such as variables, sass functions, sass mixins, etc.
@import "./helpers/functions";
@import "./helpers//mixins";
@import "./helpers/variables";

// *************** Layout *************** //
// such as grid system, header, footer, etc.
@import "./layout/grid";
@import "./layout/header";
@import "./layout/footer";

// *************** Pages *************** //
// such as specific page styles
@import "./pages/home";
@import "./pages/quote";

// *************** Components *************** //
// such as buttons, carousel, cover, etc.
@import "./components/components.scss";

// *************** Global *************** //
// such as fonts, global formatting, etc.

/* sourced font from https://www.dafont.com/electrical.font */
@font-face {
  font-family: "Electrical";
  src: url("../a_assets/fonts/electrical.ttf");
}

/* sourced font from https://fonts.google.com/specimen/Dhurjati */
@font-face {
  font-family: "Dhurjati";
  src: url("../a_assets/fonts/Dhurjati-Regular.ttf");
}

/* sourced from https://fonts.google.com/specimen/Open+Sans */
@font-face {
  font-family: "OpenSans";
  src: url("../a_assets/fonts/OpenSans/OpenSans-Regular.ttf");
  font-weight: 400;
}

/* sourced from https://fonts.google.com/specimen/Open+Sans */
@font-face {
  font-family: "OpenSans";
  src: url("../a_assets/fonts/OpenSans/OpenSans-Bold.ttf");
  font-weight: 700;
}

/* sourced from https://fonts.google.com/specimen/Open+Sans */
@font-face {
  font-family: "OpenSans";
  src: url("../a_assets/fonts/OpenSans/OpenSans-ExtraBold.ttf");
  font-weight: 900;
}

body {
  margin: 0 8px;
  @include respond-to("x-small") {
    margin: 0;
  }
}

img {
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 30px;
  font-weight: 700;
}

.App {
  text-align: center;
  font-family: OpenSans;
  padding: 0;

  @include respond-to("x-small") {
    padding: 0 10px;
  }

  @include respond-to("medium") {
    padding: 0 130px;
  }
}
